<div class="container">
    <div class="row"> 
        <div class ="col-sm-12 col-md-3">
            <h1>Welcome</h1>
        </div>
        <div class="col-md-9">
            linars are one of the best tools in your sales funnel. They’re effective, build authority within your niche, and make for an excellent lead magnet. You can pretty much use webinars at every stage of your customer journey to move users towards a sale. But here’s the question: how do you get users to sign up for your webinar? That’s where a welcome message popup comes in handy.You can create a popup letting users know about your upcoming webinar. For this, you have 2 options:
        </div>
 
  
    </div>
</div>