


@media (min-width: 768px) { 
   li{
      margin-left:20px;   
   }
   .container{
      position:sticky;
      top:-30px;
   }

}

@media (max-width: 767px){
   li{
      margin-top:20px; 
     }
    
   
   }

a{
   text-decoration: none;
}

.navbar-brand{
   text-align: left;
}

