
<div class="container">
  <div class="row">

    <div class="contact col-sm-12 col-md-6 ">
      <h1>Contact Details</h1>
          <p>abc public school , sector-2 , patna , Bihar 844123</p>
          <p>
            School Reception : 9718000201(8:30am to 4:30pm)
          </p>
         <p>
            011 - 45552301, 45552302 (From 7:30 am - 3:30 pm)
          </p>       
          <p>
            mail@dpsrohini.com, vp@dpsrohini.com, principal@dpsrohini.com
          </p> 
          <p>
            Accounts Department : accounts@dpsrohini.com
          </p>
    </div>

    <div class="main col-sm-12 col-md-6">
      <h1>Links</h1>
      <ul class='list-group'>
        <li>
          <a routerLink="/home">Home</a> 
        </li>
        <li>
          <a routerLink="/show">Student</a> 
        </li>
        <li>
          <a routerLink="/addstudent">New Entry</a> 
        </li>
        <li>
          <a routerLink="/about">About Us</a> 
        </li>
      </ul> 
    </div>
     <div class="footer-copyright text-center py-3">
      © 2020 Copyright: abcd non legal
     
    </div>
  </div>  
</div>


